@model DinnerOptionsViewModel

<h1>@Model.CurrentCategory</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">

    @foreach (var dinner in Model.DinnerOptions)
    {
        <div class="col">
            <div class="pie-card">
                <img src="@dinner.ImageThumbnailUrl" class="card-img-top" alt="@dinner.Name">
                <div class="card-body pie-button">
                    <h4 class="d-grid">
                    </h4>

                    <div class="d-flex justify-content-between mt-2">
                        <h2 class="text-start">
                            <a class="text-bg-dark"> @dinner.Name </a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    }

</div>